/** insert your styles here **/

/** layout **/
.container { max-width: 80vw; min-width: 700px; }
#content { overflow: hidden; }
.content-left { width: 70%; margin-right: 5%; float: left; }
.content-right { width: 25%; float: right; }
